* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, html {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFF0F0;
}
.container {
    flex: 1;
    display: flex;
    flex-direction:column;
}

header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #C17272;
    font-size: 12px;
    padding: 0 30px;
    align-items: center;

    & .title {
    
        & p {
            margin-top: 2px;
            
        }
    }


    & .menu {
        display: block;
        cursor: pointer;
    }

    & .menu .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
}


main {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.container {

    & form {
        padding: 0px 30px;

        & .input-box {
            width: 100%;
            margin-top: 50px;
        
            & label {
                color: #333;
            }

            & input {
                position: relative;
                height: 50px;
                width: 100%;
                outline: none;
                font-size: 1rem;
                color: #707070;
                margin-top: 8px;
                border: 1px solid #ddd;
                border-radius: 8px;
                padding: 0 15px;
            }
        }   
    }
}

form .text-show p {
    margin-top: 15px;
}

form :where(.check-option, .check) {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
form .check {
    column-gap: 5px;
}

form :where(.check input, .check label) {
    cursor: pointer;
}
form .check-box {
    margin-top: 50px;

    & .box {
        margin-top: 20px;
    }
}
.check-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}


footer {
    align-items: center;
    padding: 40px 30px;

    & button {
        bottom: 0;
        width: 100%;
        padding: 20px;
        height: 55px;
        width: 100%;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
        font-weight: 400;
        color: #fff;
        background-color: #01847F;
        transition: all 0.5s ease;
    }
    & button:hover {
        background-color: #00615e;
    }
}
