* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    background-color: #FFF0F0;
    font-family: 'Roboto', sans-serif;
    
}

header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #C17272;
    font-size: 12px;
    height: 65px;
    align-items: center;
    
        

        & .title {

            padding-left: 30px;
        
            & p {
                margin-top: 2px;
                
            }
        }

        & .icon-home {
            padding-right: 30px;
        }
        
}

.text-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
}




.signup {
    margin-top: 20px;
    padding: 20px;

    & input {
        width: 60%;
        height: 35px;
        background: #fff;
        justify-content: center;
        display: flex;
        margin: 20px auto;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
    }
}

.btn-con {
    text-align: center; /* จัดตำแหน่งปุ่ม Sign Up และ Sign In ให้อยู่ตรงกลาง */
 
}

.btn-sign-up {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #C17272;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn-sign-in {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #C17272;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}










